---
layout: default
title: Guidelines
---

<div class="container max-w-3xl mt-6 px-6">
	<h1 class="font-bold text-6xl">{{title}}</h1>

	<h2 class="font-bold text-3xl text-gray-900 mb-2">
		How to add new knowledge to the database?
	</h2>
	<body>
		<ol>
			<li>
				1. Get invitation email from <u>no-reply@netlify.com</u> and register
				your account
			</li>
			<li>2. Click <b>Add Knowledge</b> and login with your account</li>
			<li>3. Click <b>New Knowledge</b> and input your curated knowledge</li>
			<li>
				4. Click <b>Public</b> -> <b>Publish Now</b> to add your post to
				database
			</li>
		</ol>
	</body>
</div>
