---
layout: output
---

<section class="mt-15">
	{% set knowledgeslist = collections.knowledge %} {% for knowledge in
	knowledgeslist | reverse %}
	<article class="my-8">
		<h2 class="font-bold text-3xl text-gray-900 mb-2">
			<a href="{{ knowledge.url | url }}">
				{% if knowledge.data.title %} {{ knowledge.data.title }} {% else %}
				Untitled {% endif %}
			</a>
		</h2>
		<p class="text-base leading-6 text-gray-500 mb-3">
			<time>
				{{ knowledge.date | readableDate }} by
				<a>{{ knowledge.data.author }}</a>
			</time>
		</p>
		{% if knowledge.data.description %}
		<p class="text-lg text-gray-500 mb-3">{{ knowledge.data.description }}</p>
		{% endif %}

		<p>
			<a
				href="{{ knowledge.url | url }}"
				class="text-indigo-500 font-bold text-lg"
			>
				Read more →
			</a>
		</p>
	</article>
	{% endfor %}
</section>
